#wpadminbar .spacer {
    border-bottom: 1px solid rgba(255,255,255,0.7) !important;
    height: 5px;
    margin-bottom: 5px;
}

#wpadminbar span.post_status {
    display: inline-block;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    margin-bottom: -5px;
    border: 2px solid;
    background-color: #999;
}

#wpadminbar li.static>.ab-sub-wrapper {
    display: block;
}

#wpadminbar span.post_status.future {
    background-color: #3399ff;
}

#wpadminbar span.post_status.publish {
    background-color: green;
}

.apermo-adminbar-watermark {
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 0;
    display: block;
    height: 0;
    width: 100%;
    line-height: 0;
    white-space: nowrap;
    text-align: center;
    transform: rotate( -45deg );
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15vmin;
    color: rgba(127,127,127,0.3);
    z-index: 100000;
}

#wp-admin-bar-metabox .label {
    color: #fff;
    display: inline-block;
    min-width: 110px;
    margin-right: 10px;
    text-align: left;
}
