vendor/
node_modules/
.ddev/.ddev-docker-compose-*.yaml
.ddev/.global_commands/
.ddev/wordpress/
.phpunit.cache/
.phpunit.result.cache
.phpcs.cache
playwright-report/
test-results/
e2e/.auth/
.DS_Store
