includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 5
  paths:
    - apermo-adminbar.php
    - classes/
  excludePaths:
    - vendor/*
    - node_modules/*
    - .ddev/*
